<% content_for :js do %>

<script type="text/javascript" src="assets/dashboard.js" ></script>
<% end %>
<div class="row">

  <div class="col-md-6">
    <div class="panel-group" id="accordion">
      <div class="panel panel-info">
        <div class="panel-heading progress-bar-striped">
          <h4 class="panel-title text-center">TOPSIS Preferences</h4>
        </div>
        <div class="panel-body" style="background-color: #F5FAFD">
          <p>Please select Program and set the preferences accordingly</p>

        </div>
        <table class="table table-striped table-hover table-condensed">
          <tbody>
            <tr>
              <td class="text-center">Program</td>
              <td colspan="2">
                <select class="programlistselect" style="width:450px">
                  <% Ipt.all.each do |i| %>
                  <optgroup label="<%=i.shortname%>">
                    <% i.programs.where(:programlevel_code => 'I').each do |p| %>
                    <option value="<%=p.upucode%>"><%=p.upucode%> - <%=p.nameeng%></option>
                    <% end %>
                  </optgroup>
                  <% end %>
                </select>
              </td>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <th>Criteria</th>
              <th class="text-center">Weight</th>
            </tr>
            <tr>
              <td class="text-center"><input id="cb_pngk" type="checkbox" checked /></td>
              <td>CGPA/PNGK</td>
              <td class="text-center"><input type="number"  id="w_pngk"  style="width: 100%" placeholder="0.0" value="70" /></td>
            </tr>
            <tr>
              <td class="text-center"><input id="cb_koko" type="checkbox" /></td>
              <td>CoCurriculum Mark</td>
              <td class="text-center"><input type="number" id="w_koko" style="width: 100%" placeholder="0.0" value="20"/></td>
            </tr>
            <tr>
              <td class="text-center"><input id="cb_pendapatan"  type="checkbox" /></td>
              <td>Salary</td>
              <td class="text-center"><input type="number" id="w_pendapatan"  style="width: 100%" placeholder="0.0" value="10"/></td>
            </tr>
            
            <tr>
              <td class="text-center"><input id="cb_location" type="checkbox" /></td>
              <td>Location</td>
              <td class="text-center"><input type="number"  id="w_location" style="width: 100%" placeholder="0.0"/></td>
            </tr>
            
            
            <tr>
              <td class="text-center"><input type="checkbox" disabled /></td>
              <td class=" text-danger">Entry Requirement</td>
              <td class="text-center"><input type="number"  style="width: 100%" placeholder="0.0"/></td>
            </tr>
            <tr>
              <td class="text-center"><input type="checkbox" disabled /></td>
              <td class=" text-danger">Preffered University</td>
              <td class="text-center"><input type="number"  style="width: 100%" placeholder="0.0"/></td>
            </tr>
            
            
            
          </tbody>
        </table>
        <div class="panel-footer" style="background-color: #F5FAFD">
          <div class="row">
            <div class=" text-left col-md-8">
                <input type="button" class="btn btn-success btn-xs disabled" value="UPU Weight (90/10)">
                <input type="button" class="btn btn-danger btn-xs disabled" value="Random Weight">
            </div>
            <div class=" text-right col-md-4">
                <input type="button" id="btn_suggest" class="btn btn-primary " value="Suggest">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Console Log</h3>
      </div>
      <div id="log_console" data-spy="scroll"  data-offset="50" class="panel-body" style="background:white;color:black;height:360px;position:relative;overflow: scroll;font-size:small;">
        
      </div>
      <div id="consolelog" class="panel-footer text-right" style="background-color: #FCF8E3">
          <input type="button" class="btn btn-danger btn-xs" value="Clear">
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-success">
        <div class="panel-heading progress-bar-striped">
          <h4 class="panel-title text-center">TOPSIS Result</h4>
        </div>
        <div id='table_result_info' class="panel-body" style="background-color: rgba(222, 240, 215, 0.35);">
          

        </div>
        <table class="table table-striped table-hover table-condensed">
          <thead id='table_result_header'>
            
          </thead>
          <tbody id='table_result'>
            
            
            
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
